## Sort

In [7]:
s = "bbbaaaba"
num = [1,2,6,3]

sorted_s = sorted(s)
print(sorted_s)

sorted(num)

['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b']

[1, 2, 3, 6]

## Loop 2 simultaneously

In [1]:
cars = ['Ford', 'BMW', 'Volvo']
cars2 = ['Tootsie', 'Honda', 'Audi']

for cars,cars2 in zip(cars,cars2):
    print(cars, cars2)

Ford Tootsie
BMW Honda
Volvo Audi

## Append in List for Isomorphic

In [2]:
class Solution:
    def isIsomorphic(self, s: str, t: str) -> bool:
        s = list(s)
        t = list(t)

        s_indices = []
        t_indices = []

        for ss in s:
            s_indices.append(s.index(ss))
        
        for tt in t:
            t_indices.append(t.index(tt))

        return s_indices == t_indices

              
Solution().isIsomorphic("egg", "add")

True

## Int -> Str -> List

In [5]:
num = 81
list_num = list(str(num))
print(list_num)

['8', '1']

## .sort()

In [8]:
a = [3,1,4,2]
a.sort()
print(a)

[1, 2, 3, 4]

In [11]:
b =[5,7,2,9]
print(min(b))
print(max(b))

2
9

In [15]:
total = sum([1,2,3,4])
type(total)

int

## Search Index Location

In [15]:
str = "leetcode"
print(str.find("e"))

print(str.index("e"))

1
1

## Split Space and Last word length

In [4]:
s = "hello world"
spaceRemove_list = s.split()
print(spaceRemove_list)

last = spaceRemove_list[-1]
print(last)
print(len(last))

['hello', 'world']
world
5

## Insert and last index with larger number

In [24]:
my_list = ["apple", "banana", "cherry"]

my_list.insert(1,"lili")
print(my_list)

second_list = ['apple', 'lili', 'banana', 'cherry']
second_list.insert(100,"last")
print(second_list)

['apple', 'lili', 'banana', 'cherry']
['apple', 'lili', 'banana', 'cherry', 'last']

## List starts from beginning to last one but not included + change string for the last one in list and split two

In [1]:
lst = [4, 3, 2, 10]

result = lst[:-1] + [int(d) for d in str(lst[-1])]
print(result)

[4, 3, 2, 1, 0]

## From list [9,9] to 99

In [8]:
lst = [9,9]

result = 0
for digit in lst:
    #print(digit)
    result = result * 10 + digit

print(result)

99

## [9,9] to [1, 0, 0]

In [1]:
digits = [9,9]
to_sum = 0
for d in digits:
    #print(d)
    
    to_sum = to_sum * 10 + d
to_sum += 1 #100
print(to_sum)
result = []
for s in str(to_sum):
    #print(s)
    
    result.append(int(s))
print(result)

print(type(result))

100
[1, 0, 0]
<class 'list'>

## Decimal to Binary

In [ ]:
decimal_number = 9
binary_string = bin(decimal_number)[2:] # Convert to binary and remove '0b' prefix
print(binary_string)
print(type(binary_string))

## Binary to Decimal

In [3]:
binary_string = "1001"
decimal_number = int(binary_string, 2) # Convert binary string to decimal
print(decimal_number)

9

## Zfill to add 0

In [1]:
# Basic usage
number_str = "42"
padded_number = number_str.zfill(5)
print(padded_number)

# Output: 00042

00042